.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 4vw;
    width: 92vw;
}
.header-links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0 20px;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}